.c-hero-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

svg {
    height: auto;
}

.c-hero-grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    margin-top: 60px;
}

.c-hero-item-first {
    grid-column: 1 / 4;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.c-hero-item {
    grid-column: 5 / 8;
}

.c-hero-bg {
    grid-column: 8 / 12;
    margin-top: -400px;
    position: relative;
    z-index: -1;
}

.c-hero-item {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.item-wrap {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.c-hero-item h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.c-hero-item p,
.c-hero-item-first p {
    color: #c6c6c6;
    opacity: 0.8;
}


/*FAQ Section*/
.faq {
    padding-bottom: 150px;
}

.faq-content h2 {
    text-transform: uppercase;
    background: linear-gradient(90deg, rgba(150, 209, 176, 1) 0%, rgba(198, 198, 198, 1) 50%, rgba(150, 209, 176, 1) 100%);
    color: transparent;
    background-clip: text;
    font-size: 3.5rem;
    max-width: 550px;
    line-height: 1;
    margin-bottom: 80px;
}

.faq-btn {
    text-align: center;
    margin-top: 80px;
}

.faq-item {
    max-width: 700px;
    cursor: pointer;
}

.faq-item p {
    height: 0;
    opacity: 0;
    color: #c6c6c6;
}

.question {
    display: flex;
    align-items: center;
    border-top: 1px solid #1c1c1c;
    border-bottom: 1px solid #1c1c1c;
    justify-content: space-between;
    padding: 10px 0;
    margin: 10px 0;
    gap: 20px;
}

.question h3 {
    font-size: 1.5rem;
}

.plus {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.plus-line {
    width: 100%;
    height: 2px;
    background-color: white;
}
.plus-line:last-child {
    transform: translateY(-2px) rotate(90deg);
}

@media (max-width: 1024px) {
    .c-hero-item {
        grid-column: 6 / 10;
    }
    .c-hero-item-first {
        grid-column: 1 / 5;
    }
    .c-hero-bg {
        margin-top: -900px;
    }
}

@media (max-width: 991px) {
    .c-hero-bg {
        position: absolute;
        bottom: 0;
        right: 0;
        filter: blur(7px);
    }
    .c-hero-item {
        grid-column: 8 / 13;
    }
    .c-hero-item-first {
        grid-column: 1 / 7;
    }

    .faq {
        margin-top: 150px;
        padding-bottom: 100px;
    }
    .faq-item {
        max-width: 100%;
    }
}

@media (max-width: 530px) {
    .c-hero-grid {
        display: flex;
        flex-direction: column;
        gap: 70px;
    }
    .c-hero-bg {
        right: -100px;
        transform: scale(0.8);
    }
}