* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green: #1f8053;
    --black: #1c1c1c;
    --text-color: #c6c6c6;
    --rgb-black: 0, 0, 0, 0;                
}

body {
    background-color: black;
    color: white;
    font-family: "Hanken Grotesk", sans-serif;
}

section {
    overflow: clip;
}

svg {
    width: 100%;
    animation: fade-in 1.5s;
    height: 100%;
}

a {
    color: white;
    text-decoration: none;
}

header {
    padding: 50px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    animation: slide-down 1s;
}

.active,
.active a{
    color: #1f8053;
}

.container {
    max-width: 1530px;
    margin: auto;
    padding: 0 10px;
}

.hide {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 50px;
    line-height: 1;
}

.hide a {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}

.mobile-navigation {
    position: absolute;
    z-index: 99;
    inset: 0;
    padding: 20px;
    width: 100%;
    height: 100vh;
    background-color: grey;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateY(-100%);
}

.mobile-links {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 3px;
    padding-top: 50px;
}

.mobile-adds p {
    color: var(--text-color);
}

.mobile-navigation a {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -1px;
}

.mobile-ham {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid var(--black);
    display: flex;
    padding:18px 10px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 100%;
    backdrop-filter: blur(5px);
    display: none;
}

.mobile-ham .line {
    height: 2px;
    background-color: var(--text-color);
}

.first-line {
    width: 70%;
    margin-left: auto;
}
.second-line {
    width: 70%;
    margin-right: auto;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
}

.main-navigation img,
.mobile-ham {
    position: relative;
    z-index: 100;
}

.main-navigation nav {
    display: flex;
    gap: 40px;
    border: 1px solid var(--black);
    padding: 15px 50px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.main-navigation nav a {
    transition: 0.3s;
}

.main-navigation nav a:hover {
    color: var(--green);
}

.secondary-cta-button {
    padding: 15px 20px;
    border-radius: 30px;
    border: 1px solid var(--black);
    transition: 0.3s;
    display: flex;
    gap: 5px;
    align-items: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.secondary-cta-button::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.secondary-cta-button:hover {
    border-color: var(--green);
    background: linear-gradient(90deg,rgba(0, 0, 0, 0) 0%, rgba(31, 128, 83, 0.3) 50%, rgba(0, 0, 0, 0) 100%);
}

.cta-button {
    display: inline-block;
    background: linear-gradient(90deg,rgba(31, 128, 83, 1) 0%, rgba(0, 0, 0, 0) 70%);
    border-radius: 30px;
    padding: 2px;
}

.cta-button:hover {
    background: linear-gradient(90deg,rgba(31, 128, 83, 1) 0%, rgba(31, 128, 83, 1) 100%);
}

.cta-button .black-btn-bg {
    display: flex;
    gap: 5px;
    align-items: center;
    background-color: black;
    padding: 15px 20px;
    border-radius: 30px;
    box-shadow: 0 0 20px 0 rgba(31, 128, 83, 0.7);
}

.cta-button:hover .black-btn-bg {
    animation: pulse-shadow 3s infinite;
}

.arrow-wrapper {
    overflow: hidden;
    width: 17px;
    height: 17px;
}

.arrow-wrapper img {
    transform: translate(0, 0) rotate(-45deg);
}

a:hover .arrow-wrapper img {
    animation: arrow-moving 0.3s linear;
}

.hero {
    position: relative;
    height: 100vh;
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.hero video {
    transform: rotate(180deg);
    width: 100%;
}

.hero .video-wrapper {
    position: absolute;
    z-index: 0;
    bottom: 0;
    width: 75%;
}

.hero .video-wrapper .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

.hero .hero-content {
    position: relative;
    z-index: 3;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero .hero-lines {
    position: absolute;
    z-index: 1;
    opacity: 0.1;
    height: 70%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
}

.hero .hero-content h1 {
    font-size: 9.375rem;
    background: linear-gradient(90deg, rgba(150, 209, 176, 1) 0%, rgba(198, 198, 198, 1) 50%, rgba(150, 209, 176, 1) 100%);
    color: transparent;
    background-clip: text;
    animation: fade-in 1.5s;
    line-height: 1.1;
}

.hero .hero-content h2 {
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 1;
}

.hero .hero-content p {
    font-size: 1.5rem;
    max-width:  930px;
    font-weight: 300;
    color: var(--text-color);
}

.hero-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

/*Portfolio Section*/
.portfolio {
    padding: 50px 0;
}

.portfolio .portfolio-header {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.section-heading {
    font-size: 3.75rem;
    font-weight: 800;
    background: linear-gradient(90deg, rgba(150, 209, 176, 1) 0%, rgba(198, 198, 198, 1) 50%, rgba(150, 209, 176, 1) 100%);
    color: transparent;
    background-clip: text;
}

.portfolio-header .section-heading {
    max-width: 400px;
    line-height: 1.1;
}

.portfolio-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    margin-top: 60px;
}

.portfolio-items .portfolio-item a .portfolio-tags {
    display: flex;
    gap: 10px;
}

.portfolio-items .portfolio-item a .portfolio-tags div {
    font-size: 1.125rem;
    background-color: var(--black);
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: 300;
}

.portfolio-items .portfolio-item a video {
    max-width: 100%;
    border-radius: 15px;
    border: 1px solid var(--black);
}

.portfolio-content-wrapper {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.portfolio-content-wrapper h3 {
    font-size: 1.875rem;
    font-weight: 400;
}

.portfolio-content-wrapper p {
    font-weight: 300;
}

.portfolio-item a {
    position: relative;
}

.portfolio-item a::after {
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: 0.3s ease-in-out;
    opacity: 0;
    background: radial-gradient(circle,rgba(31, 128, 83, 0.25) 0%, rgba(0, 0, 0, 0) 100%);
}

.portfolio-item a:hover::after {
    opacity: 1;
}

.portfolio-item::after {
    content: "";
    height: 1px;
    width: 100%;
    background: linear-gradient(90deg,rgba(0, 0, 0, 0) 0%, rgba(40, 40, 40, 1) 50%, rgba(0, 0, 0, 0) 100%);
    display: block;
}

/*Call To Action Section*/
.call-to-action {
    padding: 100px 0;
}

.call-to-action p {
    font-weight: 300;
    font-size: 3.125rem;
    margin-bottom: 50px;
}

.call-to-action p span {
    animation: word-fade 2s both linear;
    animation-timeline: view();
    animation-range: entry 30% cover 60%;
    animation-delay: calc(var(--i) * 200ms);
}

/*Services Section*/
.services {
    padding: 80px 0;
}

.services .services-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.services-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--black);
    gap: 1px;
    border: 1px solid var(--black);
    margin-top: 60px;
}

.services-item {
    position: relative;
    min-height: 300px;
    overflow: hidden;
    background-color: black;
}

.services-item a::after {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 100%;
    display: block;
    border: 1px solid white;
    position: absolute;
    top: 10px;
    left: 10px;
    transition: 0.3s;
}

.services-item a:hover::after {
    background-color: white;
}

.services-item video {
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    opacity: 0;
    transition: 0.3s;
}

.services-item a:hover video {
    opacity: 1;
}

.services-item.span-2 {
    grid-column: span 2;
}

.service-item-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 30px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    transform: translateY(58%);
    gap: 10px;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
}

.services-item a:hover .service-item-content {
    transform: translateY(0);
}

.services-item h3 {
    font-weight: 500;
    font-size: 2rem;
}

.services-item p {
    max-width: 450px;
}

.service-item-conetnet-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.service-item-conetnet-header img {
    width: 30px;
    height: 30px;
    transform: rotate(-45deg);
}


/*Blog Section*/
.blog {
    padding: 80px 0;
}

.blog .blog-header {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.blog-items {
    display: flex;
    gap: 40px;
    margin-top: 60px;
}

.blog-item {
    width: 100%;
}

.blog-item img {
    width: 100%;
    border-radius: 15px;
}

.blog-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    justify-content: space-between;
}

.blog-content h3 {
    font-size: 1.875rem;
    font-weight: 400;
}

.blog-content p {
    font-weight: 300;
}

.author-wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 1.125rem;
    flex-wrap: wrap;
    gap: 10px;
}

.author-name-img {
    display: flex;
    align-items: center;
    gap: 10px;
}

.author-name-img img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;
}

.date-read-time {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-color);
}

.dot-separator {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: white;
    display: block;
}

.blog-item:hover a {
    display: block;
    animation: blur-effect 0.5s both;
}

/*Big Call To Action Section*/
.big-call-to-action {
    position: relative;
    height: 100vh;
}

.big-call-to-action video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.cta-content-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.cta-content {
    border: 2px solid var(--black);
    padding: 30px 100px;
    border-radius: 80px;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 5rem;
    font-weight: 900;
    background: linear-gradient(90deg, rgba(150, 209, 176, 1) 0%, rgba(198, 198, 198, 1) 50%, rgba(150, 209, 176, 1) 100%);
    color: transparent;
    background-clip: text;
    transition: 0.3s;
    text-align: center;
}

.cta-content:hover {
    box-shadow: 0 0 32px 0 rgba(31, 128, 83, 1) inset;
}

.glow-effect {
    background: radial-gradient(circle,rgba(31, 128, 83, 1) 0%, rgba(31, 128, 83, 0.2) 50%, rgba(31, 128, 83, 0) 100%);
    height: 500px;
    width: 500px;
    position: absolute;
    z-index: 1;
    opacity: 0.2;
    border-radius: 100%;
    filter: blur(20px);
}

.left-top {
    top: 10%;
    left: 0;
}

.left-bottom {
    left: 0;
    bottom: 5%;
}

.right-top {
    right: 0;
    top: 10%;
}

.right-bottom {
    right: 0;
    bottom: 10%;
}

.bg-add {
    position: absolute;
    z-index: 1;
}

/*Footer*/
footer {
    padding-top: 80px;
    position: relative;
    overflow: hidden;
}

.footer-menu-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr;
    border-left: 1px solid var(--black);
}

.footer-menu-heading {
    font-size: 1.5rem;
    padding: 40px;
    font-weight: 600;
    border-right: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
}

.footer-menu-content {
    padding: 40px;
    border-right: 1px solid var(--black);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-menu-content a {
    display: flex;
    flex-direction: column;
    font-weight: 300;
    transition: 0.3s;
}

.footer-menu-content a:hover {
    color: var(--green);
}

.footer-menu-content a span {
    background: linear-gradient(90deg, rgba(150, 209, 176, 1) 0%, rgba(198, 198, 198, 1) 50%, rgba(150, 209, 176, 1) 100%);
    color: transparent;
    background-clip: text;
}

.footer-main {
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
    position: relative;
    z-index: 2;
}

footer::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

footer video {
    position: absolute;
    z-index: 0;
    width: 3200px;
    left: -15%;
    top: -30%;
}

.footer-copyright {
    position: relative;
    z-index: 2;
}

.footer-copyright-wrapper {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.responsive-cta {
    display: none;
}

@media (max-width: 1366px) {
    .hero .hero-content h1 {
        font-size: 7rem;
    }
    .container {
        padding: 0 20px;
    }
    .author-wrapper {
        font-size: 1rem;
    }
}

@media (max-width: 1024px) {
    .mobile-ham {
        display: flex;
    }
    .main-navigation nav,
    .main-navigation .secondary-cta-button {
        display: none;
    }

    .blog-items {
        gap: 60px;
    }
    .blog-items .blog-item:last-child {
        display: none;
    }

    .section-heading {
        font-size: 2.7rem;
    }

    .cta-content {
        font-size: 3.5rem;
    }

    .service-item-content {
        transform: translateY(0);
    }
    .services-item video {
        opacity: 1;
    }

    .call-to-action p {
        font-size: 2.7rem;
    }
}

@media (max-width: 991px) {
    .hero .hero-content h1 {
        font-size: 5rem;
    }
    .hero .hero-content p {
        font-size: 1.3rem;
    }

    .section-heading {
        font-size: 2.4rem;
    }

    .portfolio-items .portfolio-item a .portfolio-tags div {
        font-size: 1rem;
    }
    .portfolio-content-wrapper h3 {
        font-size: 1.5rem;
    }

    .call-to-action p {
        font-size: 2.3rem;
    }

    .responsive-span-2 {
        grid-column: 2 span;
    }
    .responsive-span-3 {
        grid-column: 3 span;
    }

    .footer-menu-heading {
        padding: 20px;
    }
    .footer-menu-content {
        padding: 20px;
    }
    footer video {
        left: -80%;
    }
}

@media (max-width: 767px) {
    .container,
    .cta-content-wrapper {
        padding: 0 5%;
    }

    .cta-content {
        font-size: 2.2rem;
    }
    .big-call-to-action {
        height: 80vh;
    }

    .hero .hero-content h1 {
        font-size: 4rem;
    } 
    .hero .hero-content h2 {
        font-size: 1.4rem;
    }

    .portfolio-items {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .services-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .blog-items {
        flex-direction: column;
    }
    .blog-items .blog-item:last-child {
        display: flex;
    }

    .call-to-action p {
        text-align: center;
        font-size: 1.8rem;
    }

    .responsive-cta {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    .bg-add.right-top{
        width: 150px;
    }

    .footer-menu-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-menu-heading {
        display: none;
    }
    .footer-menu-content {
        text-align: center;
    }
    .footer-copyright-wrapper {
        flex-direction: column;
        gap: 20px;
    }

    .responsive-move {
        display: none;
    }

    .big-call-to-action video {
        transform: scale(1.5);
    }
}

@media (max-width: 600px) {
    .services-grid {
        grid-template-columns: 1fr;
    }
    
    .bg-add.right-top {
        width: 120px;
    }
    .big-call-to-action video {
        transform: scale(2);
    }

    .cta-content {
        padding: 20px 50px;
    }

    footer video {
        left: -900px;
    }
}